-f https://download.pytorch.org/whl/torch_stable.html torch==1.3.1+cu92
-f https://download.pytorch.org/whl/torch_stable.html torchvision==0.4.2+cu92
opencv-python
opencv-contrib-python
opencv-python-headless
catalyst
catalyst-rl
pillow